# -------------------------------------------------------------------------
# Flutter / Dart-специфичные файлы
# -------------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Файлы конфигурации веб-сборки
.web_plugins/

# Символические ссылки на плагины (создаются автоматически)
/ios/.symlinks/
/ios/Pods/
/ios/Podfile.lock

# -------------------------------------------------------------------------
# Секреты и локальные настройки (Никогда не пуште их в репозиторий!)
# -------------------------------------------------------------------------
.env
.env.*
*.secret
flash.xml
ios/Flutter/ephemeral/

# Локальные свойства Android (пути к SDK на вашем ПК)
android/local.properties
android/key.properties

# -------------------------------------------------------------------------
# Файлы сред разработки (IDE)
# -------------------------------------------------------------------------
# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode/

# Исключения для файлов конфигурации проекта, если вы хотите ими делиться:
# !.idea/runConfigurations/
# !.vscode/launch.json

# -------------------------------------------------------------------------
# Системные файлы ОС
# -------------------------------------------------------------------------
.DS_Store
Thumbs.db
